.slick-dots {
  bottom: 120px;
}

.slick-dots li.slick-active button:before {
  color: $white;
  opacity: 0.75;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: $white;
  opacity: 0.25;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}


.slick-dots li button {
  width: 12px;
  height: 12px;
  border: 1.5px solid $white;
  border-radius: 50%;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background-color: $white;
}


.slider-progress {
  width: 100%;
  height: 3px;
  background: red;
  max-width: 768px;
  margin: 0 auto;
}

.slider-progress .progress {
  width: 0%;
  height: 3px;
  background: $black;
}

.splide__progress {
  position: relative;
  top: -8px;
}

.splide__progress__bar {
  background: $darkBlue;
  display: block;
  height: 8px;
}


.splide__pagination {
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin: 5px 0;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  li {
    list-style-type: none;
    display: inline-block;
    line-height: 1;
    margin: 0;
  }
}

.splide__pagination__page {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  margin: .2em;
  cursor: pointer;
  display: block;
  border: 0;
  border: 1.5px solid $white;
}

.splide__pagination__page.is-active {
  background: $white;
}

.splide__slide img {
  vertical-align: bottom;
  width: 100%;
}


.--CustomButtons {
  .slick-slide {
    margin: 0 0;
  }

  /* the parent */
  .slick-list {
    margin: 0;
  }
}

.slider__header {
  display: flex;
  justify-content: space-between;


  &__buttons {
    display: none;

    @include breakpoint($md) {
      padding-top: 17px;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-self: baseline;
      align-items: center;
    }

    padding-top: 17px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: baseline;
    align-items: center;
    display: none;

    @include breakpoint($sm) {
      display: flex
    }

    p {
      margin-bottom: 0;

    }
  }

  &__button {
    margin-left: 15px;

    img {
      transition: all 0.2s;
      max-height: 75vh;
      object-fit: cover;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &.arrow__left,
    &.arrow__left__dni,
    &.arrow__left__wyd {
      transform: rotate(-90deg);


    }

    &.arrow__right,
    &.arrow__right__dni,
    &.arrow__right__wyd {
      transform: rotate(90deg);


    }
  }
}


/* Range slider */