{% extends "base.twig" %}

{% block content %}
	<section class="archive">
		<div class="l-wrapper">
			<h1 class="title is-2 fnt50">{{ title }}</h1>
			<div class="archive__wrapper">
				{% for item in posts %}

					{% include 'components/singleArticles/aktualnosci.twig' %}

				{% endfor %}
			</div>
			{% if posts.pagination.pages %}
				{% include 'components/pagination.twig' %}
			{% endif %}
		</div>
	</section>
{% endblock %}
