{% extends "base.twig" %}
{% block content %}
	<article class="oferta">

		<header>
			{% include 'components/blocks/offert__widok3d.twig' %}
		</header>
		<section class="oferta__section">
			<div class="l-wrapper">
				<div class="line" data-aos="width" data-aos-duration="800"></div>
				<h5 class="fnt20 home__inwestycjeLista__title" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
					{{ post.meta('inwestycje_w_sprzedazy_title')}}
				</h5>
			</div>
			<div class="l-wrapper">
				<div class="oferta__oferty" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
					{% for item in post.meta('inwestycje') %}
						<div class="oferta__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100" data-aos-offset="400">
							{% include 'components/generic/image.twig'  with { img_src:Image(item.glowne_zdjecie).src, width:665, height:360 } %}
							<div class="l-wrapper oferta-content">
								<h2 class="oferta__item__title" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
									{{item.title}}
								</h2>
								<p class="oferta__item__copy" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">{{item.krotki_opis}}
								</p>
								<div class="oferta__item__btns" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
									<a href="{{item.link}}" class="btn">PRZEJDŹ DO OFERTY</a>
								</div>
								<div class="line double --grey"></div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</section>
	</article>
	{% include 'components/blocks/contact_modal.twig' %}
{% endblock %}
