<section class="home__widok3d">
	<iframe id="wyszukiwarka3d" class="wyszukiwarka3d  offset" frameborder="0" allow="fullscreen" src="https://v3.jeff.resimo.pl/client/25/5e70b28901d21a5c135574695278952f/" style="min-width: 100%; height: 75vh;"></iframe>
	<div class="home__widok3d__buttons">
		<div class="l-wrapper">
			<div class="home__widok3d__buttons__wrapp">
				<a href="{{media_item.widok_3d_url}}" class="btnRound --blue">{{media_item.widok_3d_title}}</a>
				<a href="{{media_item.lista_url}}" class="btnRound">{{media_item.lista_title}}</a>
			</div>

		</div>
	</div>
</section>
