<section>
	<div class="l-wrapper">
		<div class="line" data-aos="width" data-aos-duration="800"></div>
		<h3 data-aos="fade-up" data-aos-duration="800" class="home__inwestycjeLista__title fnt20">WYBIERZ MIESZKANIE NA WYSZUKIWARCE 3D</h3>
	</div>

	<div class="home__widok3d"> 
		<iframe id="wyszukiwarka3d" class="wyszukiwarka3d  offset lazy" frameborder="0" allow="fullscreen" data-src="https://v3.jeff.resimo.pl/client/25/5e70b28901d21a5c135574695278952f/"></iframe>
		<div class="home__widok3d__buttons">
				<div class="home__widok3d__buttons__wrapp">
					<a href="#wyszukiwarka3d" class="btnRound --blue">Widok 3D</a>
					<a href="{{media_item.lista_url}}" class="link-to-apartments-list btnRound">Lista mieszkań</a>
				</div>
		</div>
	</div>
</section>
