<section class="wSprawieOferty">
	<div class="l-wrapper">
		<div class="wSprawieOferty__wrap">
			<h3 data-aos="fade-up" data-aos-duration="800" class="wSprawieOferty__title fnt50">{{options.w_sprawie_oferty}}
			</h3>
			<div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300" class="wSprawieOferty__form">
				{% filter shortcodes %}
					{{options.contact_form_shordcode}}
				{% endfilter %}
			</div>
		</div>
	</div>
</section>

<div class="modal micromodal-slide acceptance-modal" id="marketing-info-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
        <div class="modal__header">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close="marketing-info-modal"></button>
        </div>
        <div class="modal__content" id="modal-2-content">
            Niniejszym zgodnie z Art. 6 pkt 1 lit. a) Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (dalej: „RODO”), wyrażam zgodę na przetwarzanie moich danych osobowych podanych przeze mnie w niniejszym formularzu kontaktowym przez spółki: Port Praski Nowe Inwestycje Sp. z o.o. z siedzibą w Warszawie, ul. Krowia 6, Port Praski Sp. z o.o. S.KA. z siedzibą w Warszawie, ul. Krowia 6, Port Praski II Sp. z o.o. z siedzibą w Warszawie, ul. Krowia 6 (dalej "Spółki z Grupy Port Praski", „Spółki”), z przeznaczeniem do wykorzystania ich w celach reklamowych, statystycznych, marketingu bezpośredniego, promocji, informacji o prowadzonej działalności, obejmujących przesyłanie informacji drogą pocztową.
            <br><br>
            Przyjmuję do wiadomości poniższe informacje, podane przez Spółkę zgodnie z art. 13 ust. 1 i ust. 2 RODO:
            <br><br>
            <ol>
                <li>
                    <strong>Kto jest administratorem moich danych osobowych?</strong> Współadministratorami Pani/Pana danych osobowych, zgodnie z motywem (48) RODO, są Spółki z Grupy Port Praski, tj.:<br>
                    - Port Praski Nowe Inwestycje Sp. z o.o. z siedzibą w Warszawie, ul. Krowia 6,<br>
                    - Port Praski Sp. z o.o. S.KA. z siedzibą w Warszawie, ul. Krowia 6,<br>
                    - Port Praski II Sp. z o.o. z siedzibą w Warszawie, ul. Krowia 6.
                    <br><br>
                    Dane kontaktowe, pod którymi może Pani/Pan uzyskać informacje w zakresie danych osobowych – wspólne dla wszystkich ww. współadministratorów:<br>
                    email: daneosobowe@portpraski.pl
                </li>
                <li>
                    <strong>Jakie są cele przetwarzania przez Spółki z Grupy Port Praski moich danych osobowych?</strong> Pani/Pana dane osobowe przetwarzane będą w celach reklamowych, statystycznych, marketingu bezpośredniego, promocji, informacji o prowadzonej działalności – wyłącznie po to, aby:
                    <br><br>
                    <ul>
                        <li>móc się z Panią / Panem kontaktować, w tym w ramach podejmowanych dozwolonych działań marketingowych, w szczególności i za Pani / Pana zgodą – przez e-mail oraz telefon;</li>
                        <li>obsługiwać Pani / Pana prośby, wystąpienia, zapytania, etc. przekazywane w szczególności Działowi Sprzedaży oraz przez formularz kontaktowy w sytuacji, gdy nie są one związane wprost z wykonaniem jakiejkolwiek umowy zawartej z którąkolwiek ze Spółek;</li>
                        <li>móc organizować programy lojalnościowe, konkursy oraz akcje promocyjne, w których Pani / Pan może wziąć udział;</li>
                        <li>móc prowadzić windykację należności; postępowania sądowe, arbitrażowe i mediacyjne;</li>
                        <li>móc prowadzić analizy statystyczne;</li>
                        <li>przechowywać dane dla celów archiwizacyjnych, oraz zapewnić rozliczalność (tj. wykazać, że Spółki spełniają obowiązki wynikające z przepisów prawa);</li>
                        <li>dodatkowo, przepisy prawa mogą wymagać od nas przetwarzania Pani / Pana danych dla celów podatkowych, rachunkowych i sprawozdawczych.</li>
                    </ul>
                </li>
                <li>
                    <strong>Jaka jest podstawa prawna przetwarzania przez Spółki z Grupy Port Praski moich danych osobowych?</strong> Podstawę prawną przetwarzania Pani / Pana danych osobowych stanowi art. 6 ust. 1 lit. a) RODO – zgoda osoby, której dane dotyczą.
                </li>
                <li>
                    <strong>Komu zgodnie z prawem Spółki z Grupy Port Praski mogą udostępnić moje dane osobowe?</strong> Pani / Pana dane osobowe mogą być udostępniane: (1) bezpośrednim doradcom marketingowym, prawnym i księgowym Spółek – na cele związane z przygotowaniem warunków oferty nabycia produktu lub produktów Spółek oraz dla ich oceny prawno-formalnej; (2) firmom audytorskim – na cele związane z badaniem sprawozdań rocznych z działalności Spółek; (3) firmie informatycznej, obsługującej (serwisującej) system teleinformatyczny Spółek; (4) operatorowi systemu CRM, z którego korzysta Dział Sprzedaży Spółek; (5) wybranym instytucjom państwowym i organizacjom branżowym zgodnie z obowiązującym w Polsce prawem.
                </li>
                <li>
                    <strong>Czy Spółki z Grupy Port Praski będą przekazywać moje dane osobowe do państwa trzeciego (tj. spoza EOG) lub organizacji międzynarodowej?</strong> Pani/Pana dane osobowe nie będą przekazywane do państwa trzeciego/organizacji międzynarodowej bez Pani/Pana zgody, przy czym możliwe jest przekazanie Pani/Pana danych do państwa trzeciego w sytuacji, gdy administrator poczty e-mail, z której Pani/Pan korzysta w kontaktach ze Spółkami, korzysta z serwerów zlokalizowanych fizycznie poza EOG.
                </li>
                <li>
                    <strong>Przez jaki okres będą przechowywane w Spółkach z Grupy Port Praski moje dane osobowe?</strong> Pani/Pana dane osobowe będą przechowywane do dnia, w którym cofnie Pani / Pan zgodę na ich dalsze przetwarzanie, a w przypadku, gdyby powyższa zgoda nie została cofnięta – także do dnia, w którym ich dalsze przetwarzanie okaże się nieuzasadnione ze względu na cel, jakiemu miało służyć.
                </li>
                <li>
                    <strong>Jakie przysługują mi prawa w związku z przetwarzaniem danych osobowych przez Spółki z Grupy Port Praski?</strong> W związku z przetwarzaniem przez Spółki Pani/Pana danych osobowych przysługuje Pani/Panu:
                    <br><br>
                    <ul>
                        <li>prawo cofnięcia w dowolnym momencie zgody na przetwarzanie danych osobowych – bez wpływu na zgodność z prawem dotychczasowego przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem, na podstawie art. 13 ust. 2 lit. c) RODO,</li>
                        <li>prawo dostępu do treści swoich danych, na podstawie art. 15 RODO,</li>
                        <li>prawo do sprostowania swoich danych, na podstawie art. 16 RODO,</li>
                        <li>prawo do usunięcia swoich danych, na podstawie art. 17 RODO (prawo to nie może pozostawać w sprzeczności z obowiązującymi w Polsce aktami prawnymi),</li>
                        <li>prawo do ograniczenia przetwarzania swoich danych, na podstawie art. 18 RODO,</li>
                        <li>prawo do wniesienia sprzeciwu wobec przetwarzania danych, na podstawie art. 21 RODO,</li>
                        <li>prawo do przenoszenia swoich danych, na podstawie art. 20 RODO,</li>
                        <li>w przypadku uznania przez Panią/Pana, iż przetwarzanie Pani/Pana danych osobowych narusza przepisy RODO ma Pani/Pan ponadto prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych.</li>
                    </ul>
                </li>
                <li>
                    <strong>Czy muszę podać Spółkom z Grupy Port Praski swoje dane osobowe?</strong> Podanie przez Panią/Pana niezbędnych danych osobowych jest warunkiem zrealizowania przez Spółki celu, o którym mowa w pkt. 2 powyżej. Podanie danych ma charakter dobrowolny, jednakże konsekwencją niepodania danych jest brak możliwości wykonania przez Spółki czynności, o których mowa w pkt 2 powyżej.
                </li>
                <li>
                    <strong>Czy Spółki z Grupy Port Praski będą w sposób zautomatyzowany podejmowała wobec mnie decyzje lub prowadziła automatyczne profilowanie (np. z wykorzystaniem algorytmów)?</strong> Spółki nie prowadzą zautomatyzowanego podejmowania decyzji oraz automatycznego profilowania danych osobowych. Przetwarzanie Pani / Pana danych będzie odbywało się zarówno w sposób ręczny jak i z wykorzystaniem systemu teleinformatycznego.
                </li>
                <li>
                    <strong>Czy w Spółkach z Grupy Port Praski obowiązują szczególne procedury ochrony moich danych osobowych?</strong> W Spółkach przykładamy wyjątkową wagę do ochrony danych osobowych, które pozyskaliśmy. W tym celu wdrożyliśmy w naszej działalności Polityki Ochrony Danych Osobowych zgodne z wymogami RODO, których przestrzeganie zapewnia ochronę powierzonych nam danych osobowych przed nieuprawnionym przetwarzaniem. Postępowanie zgodnie z wprowadzonymi Politykami Ochrony Danych Osobowych jest dla nas jednym z najważniejszych priorytetów.
                </li>
            </ol>
			<button class="btn" data-micromodal-close>Zamknij</button>
        </div>
		
        </div>
      </div>
    </div>

	  <div class="modal micromodal-slide acceptance-modal" id="email-info-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-3-title">
        <div class="modal__header">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </div>
        <div class="modal__content" id="modal-3-content">
          <p>Niniejszym wyrażam zgodę na otrzymywanie na wskazany przeze mnie adres poczty e-mail informacji handlowych od spółki Port Praski Nowe Inwestycje Sp. z o.o. z siedzibą w Warszawie, ul. Krowia 6, Port Praski Sp. z o.o. S.KA. z siedzibą w Warszawie, ul. Krowia 6, Port Praski II Sp. z o.o. z siedzibą w Warszawie, ul. Krowia 6 (dalej „Spółki”) obejmujących: informacje o produktach i działalności Spółek, informacje o wydarzeniach i promocjach związanych z produktami Spółek, oferty produktów Spółek, informacje o działalności Spółek, inne informacje handlowe będące w posiadaniu Spółek, o które wystąpię.</p>
			<button class="btn" data-micromodal-close>Zamknij</button>
		</div>
      </div>
    </div>
  </div>

  	  <div class="modal micromodal-slide acceptance-modal" id="phone-info-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-4-title">
        <div class="modal__header">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </div>
        <div class="modal__content" id="modal-4-content">
          <p>Niniejszym wyrażam zgodę na otrzymywanie na wskazany przeze mnie numer telefonu komórkowego informacji handlowych od spółki Port Praski Nowe Inwestycje Sp. z o.o. z siedzibą w Warszawie, ul. Krowia 6, Port Praski Sp. z o.o. S.KA. z siedzibą w Warszawie, ul. Krowia 6, Port Praski II Sp. z o.o. z siedzibą w Warszawie, ul. Krowia 6 (dalej „Spółki”) obejmujących: informacje o produktach i działalności Spółek, informacje o wydarzeniach i promocjach związanych z produktami Spółek, oferty produktów Spółek, informacje o działalności Spółek, inne informacje handlowe będące w posiadaniu Spółek, o które wystąpię.</p>
	<button class="btn" data-micromodal-close>Zamknij</button>
		</div>
      </div>
    </div>
  </div>