<section class="wSprawieOferty">
	<div class="l-wrapper">
		<div class="wSprawieOferty__wrap">
			<h3 data-aos="fade-up" data-aos-duration="800" class="wSprawieOferty__title fnt50">{{options.w_sprawie_oferty}}
			</h3>
			<div data-aos="fade-up" data-aos-duration="800" data-aos-delay="300" class="wSprawieOferty__form">
				{% filter shortcodes %}
					{{options.contact_form_shordcode}}
				{% endfilter %}
			</div>
		</div>
	</div>
</section>
