<article class="znajdzLokal" id="lista-mieszkan">
<input type="hidden" id="apartmentsListValues" value='{{postsLoop|json_encode()}}' />
		<div id="apartments-list-container"></div>
</article>

{% include 'components/blocks/contact_modal.twig' %}
