/* Layout */
.l-wrapper {
  max-width: $xxl;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  // @include breakpoint($xl) {
  //   max-width: $xl;
  // }

  @include breakpoint(1920px) {
    max-width: $xxl;
  }

  &.--noPadding {
    padding: 0;

    @include breakpoint($xl) {
      padding: 0 20px;
    }
  }
}