<div class="lokalizacja__separator {{media_item.custom_class}}">
	<div class="l-wrapper lokalizacja__separator__wrap">
		{% include 'components/generic/image.twig'  with { img_src:Image(media_item.image).src, width:1120, height:700 } %}
	</div>
</div>
