.backToTop.--desktop {
  font-size: 40px;
  position: static;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  // @media all and (min-width: $md) {
  //   position: static;
  // }
}

.backToTop.--mobile {
  font-size: 40px;
  position: fixed;
  right: 40px;
  bottom: 20px;
  cursor: pointer;
  background: $white;
  z-index: 999;

  visibility: hidden;
  opacity: 0;
  transition: .3s opacity linear;
}

.backToTop.--show {
  visibility: visible;
  opacity: 1;
}


.footer {
  &__top {
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    padding-top: 55px;

    @include breakpoint($md) {
      padding-bottom: 80px;
      padding-top: 80px;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
    }

    nav {
      margin-right: auto;
      flex-direction: column;
      display: none;

      @include breakpoint($md) {
        display: flex;
      }
      li {
        list-style-type: none;
      }
      a {
        display: inline-block;
        font-weight: 800;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
        color: $darkBlue;
        transition: 0.2s all;
        position: relative;

        &:after {
          content: '';
          width: 0;
          height: 1px;
          position: absolute;
          right: 0;
          bottom: 3px;
          display: block;
          background: $darkBlue;
          transition-property: width;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
  
        &:hover,
        &:focus,
        &:active {
          color: $darkBlue;
        }
  
        &:hover:after,
        &:focus:after,
        &:active:after {
          left: 0;
          right: auto;
          width: 100%;
        }
      }
    }


  }

  &__biuro {
    p {
      color: $darkGrey2;
      text-transform: uppercase;

      span {
        text-transform: initial;
        font-size: 15px;
        line-height: 22px;
        color: $darkBlue;
      }

      @include breakpoint($md) {
        line-height: 26px;
      }
    }

  }

  &__socials {
    display: flex;
    flex-wrap: nowrap;

    @include breakpoint($md) {
      margin-left: 140px;
    }

    figure {
      margin-right: 10px;

      @include breakpoint($md) {
        margin-right: initial;
        margin-left: 10px;
      }
    }
  }

  &__bottom {
    display: flex;

    padding-top: 42px;
    padding-bottom: 35px;
    flex-direction: column;

    @include breakpoint($md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    position: relative;

    p {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 10px;
      color: $black;
    }
  }
}