.header {
  width: 100%;
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

  &.open {
    height: 100vh;

    .header__menu {
      height: calc(100vh - #{$headerHeight});
    }
  }

  &__logo {
    height: 100%;

    img {
      height: 100%;
      transition: 0.2s all;
    }
  }

  &__wrapper {
    height: 80px;
    transition: all 0.2s;


    @include breakpoint($md) {
      padding: 10px 0;
      height: 88px;
    }
  }

  .l-wrapper {
    padding: 0 0 0 10px;

  }

  &.smaller {


    .header__wrapper {
      max-height: 80px;

      @include breakpoint($md) {
        max-height: 88px;
      }

    }

    .header__logo img {
      height: 80px;
      cursor: pointer;
      @include breakpoint($md) {
        height: 88px;
      }
    }

    &.open {
      height: 100vh;

      .header__menu {
        height: calc(100vh - #{$headerFixedHeight});
      }
    }
  }
}

.is-sticky {
  position: fixed;
  z-index: 110;
}

.smaller {
  padding-bottom: 0;
}



.lang {

  border: 1px solid $darkGrey;
  width: 48px;
  height: 48px;
  border-radius: 50%;

  position: relative;


  &__switch {
    width: 48px;
    height: 48px;
    cursor: pointer;
    align-items: center;
    display: flex !important;
    justify-content: center;

    img {
      align-self: center;
      outline: 1px solid #E7E7E7;
      transition: 0.2s all;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__area {
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57px;
    background: $darkBlue;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.140031);
    padding: 25px 10px 4px 25px;
    width: 167px;
    right: 0;
    display: none;

    a {
      color: #A1A1A1;
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 20px;
      text-decoration: none;
      opacity: 0.5;
      text-transform: capitalize;
      align-self: baseline;
      padding-right: 20px;
      align-items: center;
      display: flex;

      img {
        margin-right: 5px;
      }

      &.active {
        opacity: 1;
        background: url('../images/check.svg') right center no-repeat
      }
    }
  }
}

.headerMobile {
  .header__wrapper {
    display: flex;

    align-items: center;
  }

  .header__logo {
    margin-left: auto;
  }

  figure {
    margin-left: 10px;
  }
}

.sidenav {
  width: 350px;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  z-index: 1001;
  transform: translate3d(-350px, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);



  ul li {
    // transition: transform 0s 0.4s;
    // transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    // transform: translate3d(0, 500px, 0);

    &:nth-child(2) {
      // transform: translate3d(0, 1000px, 0);
    }

    &:nth-child(3) {
      // transform: translate3d(0, 1500px, 0)
    }

    &:nth-child(4) {
     // transform: translate3d(0, 2000px, 0)
    }

    &:nth-child(5) {
    //  transform: translate3d(0, 2500px, 0)
    }

    &:nth-child(6) {
    //  transform: translate3d(0, 3000px, 0)
    }

  }

  &__inside {
    padding: 20px 20px;

    @include breakpoint($md) {

      padding: 19px 36px;
    }

    .remove {
      display: none;
    }

    ul li a {
      font-weight: 800;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;

      color: #8F8F8F;
      position: relative;
      padding-bottom: 7px;

      margin-bottom: 15px;
      display: inline-block;
      transition: color 0.3s ease-out;

      &:after {
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        right: 0;
        bottom: 3px;
        display: block;
        background: $darkBlue;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }

      &:hover,
      &:focus,
      &:active {
        color: $darkBlue;
      }

      &:hover:after,
      &:focus:after,
      &:active:after {
        left: 0;
        right: auto;
        width: 100%;
      }

      &.current-menu-item {
        color: $darkBlue;
      }
    }
  }
}

.sidenav .lang {
  display: flex;
  @include breakpoint($sm) {

    display: none;
}
}

.lang .lang__switch a {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 4px;


  &:hover {
    color: inherit;
  }
}


.openDark {
  .sidenav {
    width: 100%;
    @include breakpoint($sm) {
      width: 350px;
    }

    transform: translate3d(0, 0, 0);
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

    ul li {
      transition-duration: 0.9s;
      transform: translate3d(0, 0, 0);
      transition: transform 0.8s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
}

.closebtn {
  font-weight: 800;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase;
  color: $darkBlue;
  background: url('../images/menu_close.svg') left center no-repeat;
  padding-left: 60px;
  height: 50px;
  display: inline-block;
  margin-bottom: 36px;

  @include breakpoint($md) {
    margin-bottom: 80px;
  }
}

.menu__copyWrap {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: $darkBlue;
  cursor: pointer;

  span {
    font-weight: 300;
  }

  figure {
    margin-right: 10px;

  }
}

.headerDesktop {
  .header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    margin-right: 28px;

    &__left {
      display: flex;
      justify-content: flex-start;
      flex: auto;

      .menu__copyWrap {
        margin-right: 24px;
      }
    }

    &__right {
      display: flex;
      justify-content: flex-end;
      flex: auto;

      .--tel {
        padding-right: 8px;
      }

      .circle {
        margin-right: 10px;
      }

      a {
        color: $darkBlue;
      }
    }
  }

  .header__logo {
    position: absolute;


  }

  .header__logo__img {
    transition: 0.3s all;
    height: 130px;
  }

  figure {
    margin-left: 10px;
  }
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;

  &.scrollUp {
    transform: translateY(-90px);
  }
}