.header {
    .header__wrapper {
        position: relative;

        .header__menu {
            background: $white;
            margin: 0 -10px;

            >ul {
                display: none;
                margin-bottom: 0;


            }

            ul {
                list-style: none;

                li {
                    position: relative;

                    >a {
                        color: $black;
                        display: block;
                        padding: 14px 15px;
                        font-size: 16px;
                        line-height: 24px;
                        text-decoration: none;
                        transition: all 0.15s ease-in-out;
                    }
                }

                ul {
                    li {
                        >a {
                            padding: 14px 15px 14px 30px;
                        }
                    }

                    ul li>a {
                        padding: 14px 15px 14px 45px;
                    }
                }


            }

            li>ul {
                display: none;
            }

        }
    }
}

.openNav {
    cursor: pointer;
}