.home__noweInwestycje {
    padding-bottom: 15px;

    &__title {
        padding-top: 12px;
        margin-bottom: 38px;

        @include breakpoint($md) {
            padding-top: 17px;
            margin-bottom: 73px;
        }

        &.fnt20 {
            font-size: 32px;
            line-height: 44px;
        }

    }

    &__wrapp {
        display: flex;
        justify-content: space-between;
        flex-direction: column;


        @include breakpoint($md) {
            flex-direction: row;
        }

        .btn {
            width: 100%;
            text-align: center;


        }
    }

    &__item {
        width: 100%;
        position: relative;
        margin-bottom: 52px;


        @include breakpoint($md) {
            width: 580px !important;
            margin-right: 20px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            height: 12px;
            background: url('../images/lines.svg') center repeat-x;
            opacity: 0.15;

            @include breakpoint($md) {
                bottom: -47px;
            }
        }

        picture {
            width: 100%;

            source,
            img {
                width: 100%;
                min-height: 440px;
                object-fit: cover;
            }
        }

        &__inside {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: $white;
            display: flex;
            flex-direction: column;
            padding: 36px 23px 110px 23px;

            @include breakpoint($md) {
                padding: 55px 35px;

            }

            p {
                margin-bottom: 0;
                margin-top: auto;
            }
        }

        &__socials {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: 37px;
            left: 13px;

            @include breakpoint($md) {
                bottom: initial;
                left: initial;
                top: 32px;
                right: 32px;
            }

            figure {
                background: $white;
                margin-left: 10px;

            }
        }
    }

    &.--wydarzenia {
        .home__noweInwestycje__item__inside {
            color: $darkBlue;
            position: relative;
            border: 1px solid #262359;
            padding-bottom: 20px;
        }

        .fnt30 {
            margin-bottom: 60px;
        }
    }

    &.--aktualnosci,
    &.--dniotwarte {
        .home__noweInwestycje__item__inside {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(180deg, rgba(0, 0, 0, 0) 53.25%, rgba(0, 0, 0, 0.25) 100%);

        }
    }

    &.--wydarzenia,
    &.--aktualnosci,
    &.--dniotwarte {
        .home__noweInwestycje__item__inside {
            min-height: 440px;
        }
    }
}