.wSprawieOferty {
    margin-top: 20px;
    
    @include breakpoint($md) {
        margin-top: 10rem;
    }
    
    &__wrap {
        background: $lightBlue;
        min-height: 580px;
        display: flex;

        flex-direction: column;

        @include breakpoint($md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        height: 200px;
        background: url('../images/elipse.svg') left center/100px no-repeat;
        display: flex;
        align-items: center;
        padding-left: 22px;
        margin-top: 40px;
        margin-bottom: 40px;

        @include breakpoint($md) {
            padding-left: 80px;

            height: 420px;
            background: url('../images/elipse.svg') left center no-repeat;
        }
    }

    &__form {
        padding: 0 20px;
        width: 100%;

        p {
            margin-bottom: 0;
        }

        @include breakpoint($md) {
            padding: 0 80px 0 0;
            max-width: 620px;

            p {
                margin-bottom: 0 !important;
            }
        }
    }

    

}

.wpcf7-not-valid-tip {
    font-size: 12px;
    bottom: -19px;
}

.wpcf7 form.invalid .wpcf7-response-output {
    display: none !important;
}