/* Breakpoints */
$sm: 760px;
$md: 1180px;
$lg: 1300px;
$xl: 1460px;
$xxl: 1640px;

@mixin breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}

/* Colors*/
$black: #000000;
$white:#ffffff;
$grey:#E5E5E5;
$darkBlue:#262359;
$lightBlue:#E9ECF3;
$darkGrey:#DADADA;
$darkGrey2: #8F8F8F;

$headerHeight: 88px;
$headerFixedHeight: 88px;